
body{
    margin: 0;
    overflow: hidden;
    background: green;
}

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#gameCanvas{

    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

canvas{

    background: greenyellow;
}

